<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="public/css/indexstyling.css">
        <title>
            Noah Bankston Portfolio
        </title>

        <link rel="shortcut icon" type="image/png" href="public/img/twitch.png">

    </head>

    <body>

        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/my_resume">Resume</a></li>
            <li><a href="/my_fun_facts">Fun Facts</a></li>
            <li><a href="/trivia">Trivia</a></li>
        </ul>

        <h1>
            Noah Bankston's Portfolio Website
        </h1>

        

        <img src="public/img/noahbankstoninteractivewebsystems.jpg" alt="Noah Bankston">

        <p>Steve Jobs once said,
            <br> 
            <blockquote>"Don't let the noise of others' opinions drown out your inner voice."</blockquote>
        </p>

        <br>

        <p>I am Noah Bankston and I'm from Macomb, Michigan. I have lived there all my life so far. Currently, I am 
            attending Oakland University. My major is Information Technology and I'm in my senior year. Since my freshman year
            until August 2021, I worked for Dell EMC as an intern. This spring, the plan is to secure a more permanent
            position within Dell EMC. If Dell EMC does not work out, I will branch out this spring and look for a different
            position. If you would like to learn more about me, please check out my <a href="/my_resume">Resume</a>
            and <a href="/my_fun_facts">Fun Facts</a> about me!</p>

        <h2>Progress to IT Degree (75%)</h2>

        <meter value=".75"></meter>

        <hr>

        <footer>
            &copy; 2021, nbankston@oakland.edu
        </footer>
    </body>


</html>