<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="public/css/indexstyling.css">
        <title>
            Noah Bankston Portfolio
        </title>

        <link rel="shortcut icon" type="image/png" href="public/img/twitch.png">

    </head>

    <body>

        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/my_resume">Resume</a></li>
            <li><a href="/my_fun_facts">Fun Facts</a></li>
            <li><a href="/trivia">Trivia</a></li>
        </ul>

        <h1>Some fun facts about me</h1>

        <h2>Current Favorite Book</h2>
        <h3>"A Series of Unfortunate Events: The Ersatz Elevator"</h3>
        <img src="public/img/The_Ersatz_Elevator.png" alt="The Ersatz Elevator">
        <p>Readers are able to purchase the book on <a href="https://www.amazon.com/Ersatz-Elevator-Unfortunate-Events-Book/dp/0064408647">amazon</a>.
        I enjoy this book as I have read multiple other Unfortunate Event books. I began reading them in fourth grade, but I wouldn't recommend them
        for a younger audience. They are very mysterious but can sometimes be depressing.</p>

        <h2>Current Favorite Audio Track</h2>
        <h3>"Life of the Party" by Kanye West</h3>
        <audio>
            <source src="Kanye West - Life of the party feat. Andre 3000 (LEAK).mp3" type="audio/mpeg"></source>
        </audio>
        <p>Recently leaked song from Kanye West. If the link does not work, it was taken down. Listen <a href="https://www.youtube.com/watch?v=TShQUYCa4c8">here</a>.</p>
        

        <h2>Current Favorite Movie</h2>
        <h3>Interstellar</h3>
        <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/2LqzF5WauAw" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
        </iframe>
        
        <hr>

        <footer>
            &copy; 2021, nbankston@oakland.edu
        </footer>

    </body>




</html>