<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public/css/indexstyling.css">
        <title>
            Noah Bankston Portfolio
        </title>

        <link rel="shortcut icon" type="image/png" href="twitch.png">

    </head>

    <body>

        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/my_resume">Resume</a></li>
            <li><a href="/my_fun_facts">Fun Facts</a></li>
            <li><a href="/trivia">Trivia</a></li>
 
        </ul>

        <h1>
            Noah Bankston - Resume
        </h1>

        <h2>Contact information</h2>

        <h3>Address: 16363 Angora Lane</h3>
        <h3>Email: nbankston@oakland.edu</h3>
        <h3>Phone Number: 586-925-8827</h3>

        <h2>Objective</h2>

        <p>Seeking a full-time position at Dell EMC during summer 2022 as a project manager.</p>

        <h2>Professional Experience</h2>

        <section>
            <h4>August 2018 -- August 2021, IT Intern, Dell EMC, Remote</h4>
            <p>Worked under multiple people over the span of 3 years. Over this time I worked with data analytics, automation, and cloud storage.</p>
        </section>

        <section>
            <h4>August 2021 -- Current, Intern, Young Kings, Remote</h4>
            <p>Working under IT professionals in order to gain knowledge and experience within the industry.</p>
        </section>

        <table BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
            <tr align="center">
                <td><b>start--end</b></td>
                <td><b>Degree</b></td>
            </tr>
            <tr align="center">
                <td>2018-2022</td>
                <td>IT, Oakland University, Rochester MI</td>
            </tr>
        </table>

        <h2>Extracurricular Interests and Hobbies</h2>

            <p>My hobbies mainly include going to the gym and gaming. Gaming is a big part of how I enjoy my free time.</p>

        <hr>

        <footer>
            &copy; 2021, nbankston@oakland.edu
        </footer>

    </body>

















</html>